table {
    width: 100%;
    border: 0;
    text-align: center;
}

.visit-card {
    border-style: dashed;
    border-width: thin;
    text-align: center;
}

img {
    max-width: 100px; /* Розмір зображення */
}

b {
    font-size: 1.2em; /* Жирний текст */
}

i {
    font-size: 1em; /* Курсив */
}

font {
    color: blue; /* Синій колір тексту */
}